table {
  border: solid 1px #eee;
  min-width: 460px;
}

td {
  border: solid 1px #eee;
}

tr {
  border: none;
}

h2 {
  font-size: 1em;
  margin-bottom: 0.25em;
  color: #555;
}

@media print {
  .page-break {page-break-after: always;}
}
